#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  width: 40vw;
  background-color: lightblue;
  border-radius: 15px;
}

.current-tasks-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  width: 70%;
}

button {
  padding: 0px 5px;
  outline: none;
  border-radius: 10px;
}

.completed {
  color: black;
  text-decoration: line-through;
}
